[2020-07-08 17:04] brianmackenna opened #1 "*Disease code* Hidradenitis Suppurativa"
It is proposed to use a codelists based on [READ codes from Schonmann et al](https://datacompass.lshtm.ac.uk/1213/). If people are happy (use an use emojis!) we will send to TPP for mapping to CTV3.

Once it is returned I will upload here for discussion and sign off.

[2020-07-08 17:06] brianmackenna commented on #1
The following template should be completed the first time a codelist is developed and uploaded to https://codelists.opensafely.org/

DEFINITION:

CODE LISTS:
Upload excel file here

This was created , through the following strategy:

FLEXIBILITY NEEDED BETWEEN STUDIES:

EFFECTS ON COHORT SELECTION:
POTENTIAL BIASES:

CLINICAL SIGN OFF & DATE:

EPIDEMIOLOGY SIGN OFF & DATE:

SHARED WITH WIDER TEAM:

[2020-07-08 17:09] brianmackenna opened #2 "Psoriatic arthritis"
To be developed. Guidance on codelists development is [available here in documentation folder](https://github.com/opensafely/documentation/blob/master/codelist%20creation.md).

The following template should be completed the first time a codelist is developed and uploaded to https://codelists.opensafely.org/

DEFINITION:

CODE LISTS:
Upload excel file here

This was created , through the following

[2020-07-08 17:11] brianmackenna opened #3 "*Disease Code* Ankylosing Spodylitis"
To be developed. Guidance on codelists development is [available here in documentation folder](https://github.com/opensafely/documentation/blob/master/codelist%20creation.md).

The following template should be completed the first time a codelist is developed and uploaded to https://codelists.opensafely.org/

DEFINITION:

CODE LISTS:
Upload excel file here

This was created , through the following

[2020-07-08 17:12] brianmackenna opened #4 "*Disease code* Atopic eczema"
To be developed. Guidance on codelists development is [available here in documentation folder](https://github.com/opensafely/documentation/blob/master/codelist%20creation.md).

The following template should be completed the first time a codelist is developed and uploaded to https://codelists.opensafely.org/

DEFINITION:

CODE LISTS:
Upload excel file here

This was created , through the following

[2020-07-08 17:14] brianmackenna opened #5 "*Disease Code* Rheumatoid Arthritis"
A definition of rheumatoid arthritis has been developed previously and is [available here for inspection](https://codelists.opensafely.org/codelist/opensafely/rheumatoid-arthritis/).

Please can this be reviewed for the purposes of this study?

[2020-07-08 17:17] brianmackenna opened #6 "*Disease code* Inflammatory bowel disease"
WE have previously developed this [codelist for IBD and it is available here](http://codelists.opensafely.org/codelist/opensafely/inflammatory-bowel-disease/). Please can we confirm if of for purposes of this study?

@inglesp I notice we have also mapped a [snomed version of this list](http://codelists.opensafely.org/codelist/opensafely/inflammatory-bowel-disease-snomed/). Is there anything helpfu

[2020-07-08 17:21] brianmackenna opened #7 "*Disease code* Psoriasis"
We have previously developed this [definition of psoriasis which is available here](https://codelists.opensafely.org/codelist/opensafely/ra-sle-psoriasis/). It is combined with RA / SLE / Psoriais

Please could someone create a psoriasis only list for review?

Separately could they identify codes which we may not want to include in this study. For example it was mentioned that there may be good re

[2020-07-10 10:56] brianmackenna commented on #1
This is the mapped list that TPP returned and have additionally added high-level snomed

CTV3ID | CTV3PreferredTermDesc | CTV3Source
-- | -- | --
M25y1 | Hidradenitis (& hidradenitis suppurativa) | High_Level_SNOMED
XE1BM | Hidradenitis | CTV3Map_Code_And_Term
XE1BM | Hidradenitis | CTV3Map_Code_Only
XE1Cw | (Sweat gland prob NOS) or (dyshidros) or (hydraden (&   supp) | High_Level_SNOMED
Xa9CY |

[2020-07-20 17:49] jamesgalloway commented on #3
Psoriatic arthritis and ankylosing spondylitis.
[CTV3.docx](https://github.com/opensafely/immunosuppressant-meds-research/files/4949240/CTV3.docx)

[2020-07-29 13:20] myatesrheum commented on #5
Checked by me and JG, no editing required for this study

[2020-07-29 14:36] sinlangan commented on #7
Brian, I have edited. Catherine is now reviewing. In column D we have flagged people that have both psoriasis and PSA.

[2020-07-29 15:23] sinlangan commented on #4
Brian, the atopic eczema Read codes are . at, https://datacompass.lshtm.ac.uk/1281/1/readcodes-eczemaDx-exca.txt. The treatment codes are at https://datacompass.lshtm.ac.uk/1254/1/final_prodcodes-eczemaRx.txt. The algorithm is based on a record of one diagnostic morbidity code (recorded in either primary or secondary care) and at least two records (on separate days) for eczema therapy (recorded in

[2020-07-29 15:24] sinlangan commented on #4
Phototherapy codes are  here: https://datacompass.lshtm.ac.uk/1282/1/readcodes-eczemaRx-exca.txt

[2020-07-29 15:25] brianmackenna commented on #5
Thanks - confirmed in protocol

https://codelists.opensafely.org/codelist/opensafely/rheumatoid-arthritis/2020-05-12/

[2020-07-29 15:25] #5 closed, assigned to nobody

[2020-07-29 15:25] sinlangan commented on #2
See comments in psoriasis code list, identified in column D with variable 2.  Will check with James if there are additional codes

[2020-07-29 15:26] sinlangan commented on #1
Brian, looks good to me, thanks.

[2020-07-29 15:27] brianmackenna commented on #3
Thanks. Q for you and @sinlangan

Are we keeping together as a single codelist or are we separating out individual lists as per the draft protocol?

[2020-07-29 15:30] sinlangan commented on #3
@brianmackenna and @jamesgalloway, we should separate out. Unlikely to have PSA without psoriasis, but PSA would trump psoriasis.

[2020-07-29 15:56] brianmackenna commented on #1
Excellent. http://codelists.opensafely.org/ is just getting some upgrades to support version control. Will add once that is done.

[2020-07-29 16:14] brianmackenna commented on #4
Great. We'll get these mapped to snomed/dm+d. A few questions

1) Are there date limits on the algorithm e.g. is it eczema code `ever` or `last 12 months`?

2) Oral medicines: These are used for a wide variety of conditions and generally in eczema they are only used in severe disease. I'm thinking they may add to false positives for eczema and the topical may be sufficient? Some of the things in t

[2020-07-29 16:18] brianmackenna commented on #4
Or maybe there's a validation study I haven't seen yet?

[2020-07-29 16:26] sinlangan commented on #4
There is, it's at https://pubmed.ncbi.nlm.nih.gov/28428130/. For eczema, code in last three years with two treatments would be best. Won't identify "ever eczema" but will identify "active eczema". Agree Dexamethasone solution unlikely to be used for eczema- would remove.

[2020-07-30 15:46] sinlangan commented on #7
[Psoriasis and PSA_final.xlsx](https://github.com/opensafely/immunosuppressant-meds-research/files/5002308/Psoriasis.and.PSA_final.xlsx)
Hi Brian,
PSA is highlighted here with "2" in column D. By definition have Ps if have PSA, but PSA will trump Ps in analyses.

[2020-07-31 15:17] NikNakk opened #8 "*Disease code* Rheumatoid arthritis"

[2020-08-03 13:14] brianmackenna commented on #1
@sinlangan  Final(ish) [list and methodology here](https://codelists.opensafely.org/codelist/opensafely/hidradenitis-suppurativa/2020-08-03-draft/). All good?

[2020-08-03 13:16] brianmackenna commented on #8
We have finalised RA in issue #5. Normally we close them once they appear on opencodelists.....

[2020-08-03 15:55] sinlangan commented on #1
Yes thanks

________________________________
From: Brian <notifications@github.com>
Sent: 03 August 2020 14:14
To: opensafely/immunosuppressant-meds-research <immunosuppressant-meds-research@noreply.github.com>
Cc: Sinead Langan <Sinead.Langan@LSHTM.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [opensafely/immunosuppressant-meds-research] *Disease code* Hidradenitis Suppurativa (#1)

@

[2020-08-03 16:00] #1 closed, assigned to nobody

[2020-08-05 16:16] NikNakk opened #10 "*Disease code* Crohn's disease"
[Initial Crohn's disease code list using CTV3](https://github.com/opensafely/immunosuppressant-meds-research/files/5029680/crossimid-crohns-disease.csv.txt). Note the file is named .txt because GitHub does not support attaching csv files to issues.

[Also available here](https://github.com/NikNakk/immunosuppressant-meds-research/blob/ibd-codelist/codelists/crossimid-crohns-disease.csv).

[2020-08-05 16:17] NikNakk opened #11 "*Disease code* ulcerative colitis"
[Initial ulcerative disease code list using CTV3](https://github.com/opensafely/immunosuppressant-meds-research/files/5029699/crossimid-ulcerative-colitis.csv.txt). Note the file is named .txt because GitHub does not support attaching csv files to issues.

[Also available here](https://github.com/NikNakk/immunosuppressant-meds-research/blob/ibd-codelist/codelists/crossimid-ulcerative-colitis.csv).

[2020-08-05 16:19] NikNakk opened #12 "*Disease code* inflammatory bowel disease unclassified (IBD-U)"
[Initial IBD-U code list using CTV3](https://github.com/opensafely/immunosuppressant-meds-research/files/5029708/crossimid-inflammatory-bowel-disease-unclassified.csv.txt).
Note the file is named .txt because GitHub does not support attaching csv files to issues.

[Also available here](https://github.com/NikNakk/immunosuppressant-meds-research/blob/ibd-codelist/codelists/crossimid-inflammatory-bow

[2020-08-05 16:20] NikNakk commented on #6
Suggest closing this issue since it has been superceded by the separate issues #10, #11 and #12.

[2020-09-02 13:51] brianmackenna commented on #12
@NikNakk would you be able to describe the methodology on how the codes were selected/where they came from please?

[2020-09-04 15:53] NikNakk commented on #12
Charlie Lees and I used the NHS Read Term browser to go through all codes within CTV3 found on searches of Crohn, colitis and inflammatory bowel disease. We also browsed the hierarchy up to parent terms to check siblings of the relevant codes for any that had been missed. The distinction between the Crohn's and ulcerative colitis codes is relatively clear cut. There are two codes that do not make

[2020-09-07 09:20] brianmackenna commented on #12
Thanks @NikNakk . @inglesp and team are working on something that will hopefully make this easier in the future.

We just need an independent check now. @katetheyogi @myatesrheum  but feel free to swap with someone else in the group!

[2020-09-07 09:25] katetheyogi commented on #12
Planning on checking through tomorrow.

[2020-09-08 16:17] katetheyogi commented on #12
Looks absolutely fine to me. I was settling down to tackle a LONG list of codes. Absolutely delighted to find only 2!

[2020-09-08 16:28] NikNakk commented on #12
There’s also #10 and #11.

BW

Nick

[2020-09-08 16:30] katetheyogi commented on #12
Aaah... I thought it seemed too easy. I'll do them first thing tomorrow.

[2020-09-08 17:10] katetheyogi commented on #10
Just reviewed this and it looks good to me.

[2020-09-08 17:11] katetheyogi commented on #11
Just reviewed this and it looks good to me.

[2020-09-22 23:43] #8 closed, assigned to nobody

[2020-09-22 23:45] #6 closed, assigned to nobody

[2020-09-22 23:45] NikNakk commented on #2
This is handled by #7

[2020-10-03 22:58] NikNakk opened #14 "*Medication Codes* Separate DMARDs medication list"
Separate the opensafely-dmards.csv list into separate codelists for each class of immunosuppressant. Note this has already been done in https://github.com/NikNakk/immunosuppressant-meds-research/tree/master/crossimid-codelists

[2020-10-03 23:00] NikNakk opened #15 "*Medication codes* Anti-TNF"
High cost drugs codelist for anti-TNF.
Includes infliximab, adalimumab, golimumab, etanercept, certolizumab (and biosimilars)

[2020-10-03 23:02] NikNakk opened #16 "*Medication codes* JAK inhibitors"
High cost drugs codelist for JAK inhibitors.
Includes tofacitinib, baracitinib, upadicitinib, plus others

[2020-10-03 23:04] NikNakk opened #17 "*Medication codes* anti-IL12/23"
High cost drugs codelist for anti-IL12/23.
Includes ustekinumab, guselkumab, risankizumab

[2020-10-03 23:05] NikNakk opened #18 "*Medication codes* anti-IL-1"
High cost drugs codelist for anti-IL1

[2020-10-03 23:06] NikNakk opened #19 "*High cost drug codes* dupilumab"
High cost drugs codelist for anti-IL4

[2020-10-03 23:06] NikNakk opened #20 "*Medication codes* anti-IL-6"
High cost drugs codelist for anti-IL6

[2020-10-03 23:07] NikNakk opened #21 "*Medication codes* rituximab"
High cost drugs codelist for rituximab

[2020-10-03 23:09] NikNakk opened #22 "*Medication codes* anti-integrins"
High cost drugs codelist for anti-integrins

Includes vedolizumab

[2020-10-05 13:38] brianmackenna commented on #14
Thanks @NikNakk  phenomenal amount of work.

Did you manually split these up or have you script?

[2020-10-12 21:10] NikNakk commented on #14
Hi @brianmackenna, manually through some sorting and filtering in Excel. I would often do something like this in script, but for this as a one off task it felt more efficient to do it in Excel rather that iteratively writing RegExes which would probably have been my approach otherwise.

[2020-10-13 10:07] brianmackenna commented on #14
That's great. Hopefully no need for scripts soon as we are building tools to build codelists.

Just to confirm is it off this list you filtered?

https://github.com/ebmdatalab/immunosuppressant-covid-codelist-notebook/blob/master/notebooks/immunosuppressants.ipynb

[2020-10-16 15:17] jamesgalloway commented on #3
Y70ET      C      Juvenile ankylosin spondylitis  /    Juvenile ankylosing spondylitis
Y70EU      O      Juvenile AS - ank spondylitis   /   Juvenile AS - ankylosing spondylitis
Y70Ef      C      Ankylosing spondylitis
Y70Eh      C      Idiopathic ankylos spondylit  /    Idiopathic ankylosing spondylitis
Y70Ei      C      AS - Ankylosing spondylitis
Y70Ej      C      AS with organ / system involve

[2020-10-16 15:22] brianmackenna commented on #2
Reopening as per discussion on weekly call about keeping seperate.

[2020-10-21 09:16] myatesrheum commented on #3
AxialSpa codes built in github builder (snomed)
[mark-yates-axial-spondyloarthritis-2020-10-21T09-07-35.txt]
(https://github.com/opensafely/immunosuppressant-meds-research/files/5414703/mark-yates-axial-spondyloarthritis-2020-10-21T09-07-35.txt)

[2020-10-21 09:23] myatesrheum commented on #2
Psoriatic Arthritis code built in code builder (snomed)

[mark-yates-psoriatic-arthritis-2020-10-21T09-22-03.txt](https://github.com/opensafely/immunosuppressant-meds-research/files/5414757/mark-yates-psoriatic-arthritis-2020-10-21T09-22-03.txt)

@brianmackenna

[2020-10-21 09:30] myatesrheum commented on #3
DEFINITION: Axial Spondyloarthritis code (snomed)

CODE LISTS:

[mark-yates-axial-spondyloarthritis-2020-10-21T09-07-35.txt](https://github.com/opensafely/immunosuppressant-meds-research/files/5414814/mark-yates-axial-spondyloarthritis-2020-10-21T09-07-35.txt)

This was created , through the following strategy: GitHub code Builder

FLEXIBILITY NEEDED BETWEEN STUDIES: None

EFFECTS ON COHORT SELECT

[2020-10-21 09:33] myatesrheum commented on #2
DEFINITION: Psoriatic Arthritis code (snomed)

CODE LISTS:

[mark-yates-psoriatic-arthritis-2020-10-21T09-22-03.txt](https://github.com/opensafely/immunosuppressant-meds-research/files/5414854/mark-yates-psoriatic-arthritis-2020-10-21T09-22-03.txt)

This was created , through the following strategy: GitHub code Builder

FLEXIBILITY NEEDED BETWEEN STUDIES: None

EFFECTS ON COHORT SELECTION: Caution

[2020-10-21 09:47] myatesrheum commented on #7
We have built a separate Psoriatic arthritis Snomed codelist, which we can use if needed (see issue list).

[2020-10-21 12:23] brianmackenna commented on #2
This looks good to me! Do you have screen shots of the term searches and I'll add to the methodology section? e.g.

![image](https://user-images.githubusercontent.com/40460354/96718671-3e8c2880-13a0-11eb-8396-6251717977d1.png)

Would you also be able to download the csv and share (email is fine) with me as well please? When changing between file formats Snomed codes can get changed

![image](https

[2020-10-21 13:30] brianmackenna commented on #2
@myatesrheum  and James (who I don't think has accepted invite) are you happy with description?

https://codelists.opensafely.org/codelist/opensafely/psoriatic-arthritis/2020-10-21/

[2020-10-21 13:32] myatesrheum commented on #2
Looks good to me

[2020-10-21 16:23] myatesrheum commented on #4
DEFINITION: Atopic Eczema Snomed list

CODE LISTS:
[mark-yates-atopic-eczema-2020-10-21T16-19-11.xlsx](https://github.com/opensafely/immunosuppressant-meds-research/files/5417330/mark-yates-atopic-eczema-2020-10-21T16-19-11.xlsx)

This was created , through the following strategy: Code builder

![Atopic Eczema](https://user-images.githubusercontent.com/67652831/96748724-d5b5a800-13c1-11eb-8146-f6c

[2020-10-22 06:03] brianmackenna commented on #2
This is ctv3 version created by mapping - look ok?

| snomedct_id | snomedct_name                                                                  | ctv3_id | ctv3_name                                                    |
|-------------|--------------------------------------------------------------------------------|---------|--------------------------------------------------------------|
| 1.56E+

[2020-10-22 06:08] brianmackenna opened #25 "*Medication codes* Treatments used for eczema"
Creating a separate issue to create a codelist for treatment used in eczema #4 . There is a [read 2 list here in the issue](https://github.com/opensafely/immunosuppressant-meds-research/issues/4#issuecomment-665730903) and the dm+d list will be combined with clinical codes in #4 to identify group.

[2020-10-23 09:17] myatesrheum commented on #2
Yes looks fine to me

[2020-10-23 14:58] sinlangan commented on #2
Yes, looks good, thanks!

From: Brian <notifications@github.com>
Sent: 22 October 2020 07:04
To: opensafely/immunosuppressant-meds-research <immunosuppressant-meds-research@noreply.github.com>
Cc: Sinead Langan <Sinead.Langan@LSHTM.ac.uk>; Comment <comment@noreply.github.com>
Subject: Re: [opensafely/immunosuppressant-meds-research] Psoriatic arthritis (#2)

This is ctv3 version created by mapping

[2020-10-23 15:18] NikNakk commented on #2
https://github.com/NikNakk/immunosuppressant-meds-research/blob/master/codelists/crossimid-psoriasis.csv

[2020-10-23 15:18] NikNakk commented on #7
This is my version of the separate psoriasis codes:

https://github.com/NikNakk/immunosuppressant-meds-research/blob/master/crossimid-codelists/crossimid-psoriasis.csv

[2020-10-23 15:58] sinlangan commented on #7
Please remove x50jd acropustulosis of infancy

[2020-10-23 20:31] sinlangan commented on #4
@myatesrheum and @brianmackenna, the morbidity code variable seems to have become corrupted. I have highlighted codes I don't think should be included in yellow. How does eczema NOS map across?

The original Read codes are in,
[readcode_eczema.docx](https://github.com/opensafely/immunosuppressant-meds-research/files/5431657/readcode_eczema.docx) and the edited code list at,
[mark-yates-atopic-ecze

[2020-11-05 23:54] NikNakk opened #26 "*Medication codes* mesalazine"

[2020-11-27 16:42] NikNakk opened #27 "*Medication codes* anti-IL-17"

[2021-01-05 15:30] myatesrheum opened #29 "Drug names cleaning dofile (STATA)"
*capture log close
clear
capture log close
set more off
set type double
set scheme plotplainblind
/******************************************************************************
File         : csv high cost drugs data
Date created : 14/Dec/2020
Last modified: 17/Dec/2020
Input file   : drug_name_unique.csv
Output file  : cleaned_drugs.dta
***********************************************************

[2021-01-21 11:42] myatesrheum commented on #29
Output of above dofile

[druglistoutput.xlsx](https://github.com/opensafely/immunosuppressant-meds-research/files/5848988/druglistoutput.xlsx)

[2021-01-21 11:50] myatesrheum commented on #29
@AnnaB45

[2021-01-26 13:34] myatesrheum commented on #29
Outputs as seperate CSV files for each drug @NikNakk
[csv files.zip](https://github.com/opensafely/immunosuppressant-meds-research/files/5873572/csv.files.zip)

[2021-01-29 14:06] myatesrheum opened #31 "Stata code for analysis"
ssc install table1_mc
ssc install blindschemes
set scheme plotplainblind
ssc install asdoc

import delimited "$datac\input (2).csv", clear

* Open a log file
cap log close
*log using $datac\cr_create_analysis_dataset, replace t

/* SET Index date ===========================================================*/
global indexdate 			= "01/03/2020"

/* RENAME VARIABLES====================================

[2021-01-29 16:16] brianmackenna commented on #26
@richiecroker could you take a look at this codelist please?

[2021-01-29 16:24] NikNakk commented on #7
Done, and reflected in https://github.com/NikNakk/immunosuppressant-meds-research/blob/master/crossimid-codelists/crossimid-psoriasis.csv

[2021-01-29 16:26] myatesrheum commented on #7
Also signed off by Catherine Smith in October 2020

[2021-01-29 17:08] NikNakk commented on #31
This code is include in #24

[2021-01-29 17:08] #31 closed, assigned to nobody

[2021-02-02 10:19] NikNakk commented on #2
Looks like this can be closed - exists at https://codelists.opensafely.org/codelist/opensafely/psoriatic-arthritis/2020-10-21/#full-list

Reviewed today by @sinlangan, @myatesrheum, @NikNakk

[2021-02-02 10:19] #2 closed, assigned to nobody

[2021-02-02 10:21] NikNakk commented on #3
Reviewed again today - awaiting upload to codelists.opensafely.org

[2021-02-02 10:22] NikNakk commented on #10
Awaiting upload to https://codelists.opensafely.org/

[2021-02-02 10:22] NikNakk commented on #11
Awaiting upload to https://codelists.opensafely.org/

[2021-02-02 10:22] NikNakk commented on #12
Awaiting upload to https://codelists.opensafely.org/

[2021-02-02 10:23] NikNakk commented on #7
Awaiting upload to https://codelists.opensafely.org/

[2021-02-08 11:09] brianmackenna commented on #11
https://codelists.opensafely.org/codelist/opensafely/ulcerative-colitis/3b49ad2a/

Can someone please write the methodology and just  sense check it is still ok please? (been awhile since it was created!)

[2021-02-08 11:10] brianmackenna commented on #10
Could someone sense check to see if still ok and document methodology please?

https://codelists.opensafely.org/codelist/opensafely/crohns-disease/223a39f5/

[2021-02-08 11:13] brianmackenna commented on #12
Just needs a final sense check and the meatdata/methodology updating

https://codelists.opensafely.org/codelist/opensafely/inflammatory-bowel-disease-unclassified/092ac6c0/

[2021-02-09 08:59] brianmackenna commented on #1
https://codelists.opensafely.org/codelist/opensafely/hidradenitis-suppurativa/2020-08-03/

[2021-02-19 16:48] katetheyogi commented on #17
We did not see any records for Ilumetri which is the tradename for Tildrakizumab

[2021-02-19 16:51] katetheyogi commented on #17
CS, SL, and KM checked lists for IL23 and IL12/23 and all OK except the Ilumetri issue noted above.

[2021-02-19 16:52] jamesgalloway commented on #21
rituximab codes checked and verified. Note: includes belimumab at present. Need to separate.

[2021-02-19 16:53] katetheyogi commented on #19
SL, CS and KM checked and codelists for dupilumab all look good.

[2021-02-19 18:30] #27 closed, assigned to brianmackenna

[2021-02-19 18:30] #22 closed, assigned to brianmackenna

[2021-02-19 18:30] #21 closed, assigned to brianmackenna

[2021-02-19 18:30] #20 closed, assigned to brianmackenna

[2021-02-19 18:31] #18 closed, assigned to brianmackenna

[2021-02-19 18:31] NikNakk commented on #17
Closing in favour of separate drug names

[2021-02-19 18:31] #17 closed, assigned to brianmackenna

[2021-02-19 18:31] #16 closed, assigned to brianmackenna

[2021-02-19 18:31] #15 closed, assigned to brianmackenna

[2021-02-19 20:41] NikNakk opened #35 "*High cost drug codes* abatacept"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of abatacept.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these a

[2021-02-19 20:53] NikNakk opened #36 "*High cost drug codes* adalimumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of adalimumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #37 "*High cost drug codes* aflibercept"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of aflibercept.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #38 "*High cost drug codes* alemtuzumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of alemtuzumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #39 "*High cost drug codes* anakinra"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of anakinra.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these ar

[2021-02-19 20:53] NikNakk opened #40 "*High cost drug codes* baricitinib"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of baricitinib.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #41 "*High cost drug codes* belimumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of belimumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these a

[2021-02-19 20:53] NikNakk opened #42 "*High cost drug codes* benralizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of benralizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (thes

[2021-02-19 20:53] NikNakk opened #43 "*High cost drug codes* brodalumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of brodalumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #44 "*High cost drug codes* certolizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of certolizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (thes

[2021-02-19 20:53] NikNakk opened #45 "*High cost drug codes* dupilumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of dupilumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these a

[2021-02-19 20:53] NikNakk opened #46 "*High cost drug codes* etanercept"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of etanercept.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #47 "*High cost drug codes* filgotinib"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of filgotinib.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #48 "*High cost drug codes* golimumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of golimumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these a

[2021-02-19 20:53] NikNakk opened #49 "*High cost drug codes* guselkumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of guselkumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #50 "*High cost drug codes* infliximab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of infliximab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #51 "*High cost drug codes* ixekizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of ixekizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #52 "*High cost drug codes* mepolizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of mepolizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #53 "*High cost drug codes* methotrexate"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of methotrexate.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (thes

[2021-02-19 20:53] NikNakk opened #54 "*High cost drug codes* natalizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of natalizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:53] NikNakk opened #55 "*High cost drug codes* ocrelizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of ocrelizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:54] NikNakk opened #56 "*High cost drug codes* omalizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of omalizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:54] NikNakk opened #57 "*High cost drug codes* ranibizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of ranibizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:54] NikNakk opened #58 "*High cost drug codes* reslizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of reslizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:54] NikNakk opened #59 "*High cost drug codes* risankizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of risankizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (thes

[2021-02-19 20:54] NikNakk opened #60 "*High cost drug codes* rituximab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of rituximab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these a

[2021-02-19 20:54] NikNakk opened #61 "*High cost drug codes* sarilumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of sarilumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these a

[2021-02-19 20:54] NikNakk opened #62 "*High cost drug codes* secukinumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of secukinumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:54] NikNakk opened #63 "*High cost drug codes* tildrakizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of tildrakizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (the

[2021-02-19 20:54] NikNakk opened #64 "*High cost drug codes* tocilizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of tocilizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:54] NikNakk opened #65 "*High cost drug codes* tofacitinib"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of tofacitinib.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:55] NikNakk opened #66 "*High cost drug codes* upadacitinib"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of upadacitinib.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (thes

[2021-02-19 20:55] NikNakk opened #67 "*High cost drug codes* ustekinumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of ustekinumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:55] NikNakk opened #68 "*High cost drug codes* vedolizumab"
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of vedolizumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these

[2021-02-19 20:57] NikNakk commented on #45
Duplicate of #19

[2021-02-19 20:57] #45 closed, assigned to nobody

[2021-02-19 20:58] NikNakk commented on #19
## Description

This is a list of all the unique values from the Drug Name variable in the High Cost Drugs Dataset that relate to the prescribing of dupilumab.

## Methodology

The values in this variable do not follow a coding system so the selection for this codelist is based on the drug name value, after converting all text to lower case, containing one or more of the following strings (these a

[2021-02-19 23:26] NikNakk commented on #68
## References

- [GitHub issue: *High cost drug codes* vedolizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/68)
- [Script used to produce codelist]https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)
- [Draft codelist: NA](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/cro

[2021-02-19 23:27] NikNakk commented on #68
## References

- [GitHub issue: *High cost drug codes* vedolizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/68)
- [Script used to produce codelist]https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)
- [Draft codelist: NA](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/cro

[2021-02-19 23:28] NikNakk commented on #68
## References

- [GitHub issue: *High cost drug codes* vedolizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/68)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:13] NikNakk commented on #67
## References

- [GitHub issue: *High cost drug codes* ustekinumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/67)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #66
## References

- [GitHub issue: *High cost drug codes* upadacitinib](https://github.com/opensafely/immunosuppressant-meds-research/issues/66)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.

[2021-02-20 00:14] NikNakk commented on #65
## References

- [GitHub issue: *High cost drug codes* tofacitinib](https://github.com/opensafely/immunosuppressant-meds-research/issues/65)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #64
## References

- [GitHub issue: *High cost drug codes* tocilizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/64)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #63
## References

- [GitHub issue: *High cost drug codes* tildrakizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/63)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata

[2021-02-20 00:14] NikNakk commented on #61
## References

- [GitHub issue: *High cost drug codes* sarilumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/61)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #62
## References

- [GitHub issue: *High cost drug codes* secukinumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/62)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #60
## References

- [GitHub issue: *High cost drug codes* rituximab](https://github.com/opensafely/immunosuppressant-meds-research/issues/60)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #59
## References

- [GitHub issue: *High cost drug codes* risankizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/59)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.

[2021-02-20 00:14] NikNakk commented on #58
## References

- [GitHub issue: *High cost drug codes* reslizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/58)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #57
## References

- [GitHub issue: *High cost drug codes* ranibizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/57)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #55
## References

- [GitHub issue: *High cost drug codes* ocrelizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/55)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #56
## References

- [GitHub issue: *High cost drug codes* omalizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/56)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #54
## References

- [GitHub issue: *High cost drug codes* natalizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/54)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #53
## References

- [GitHub issue: *High cost drug codes* methotrexate](https://github.com/opensafely/immunosuppressant-meds-research/issues/53)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.

[2021-02-20 00:14] NikNakk commented on #51
## References

- [GitHub issue: *High cost drug codes* ixekizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/51)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #52
## References

- [GitHub issue: *High cost drug codes* mepolizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/52)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #50
## References

- [GitHub issue: *High cost drug codes* infliximab](https://github.com/opensafely/immunosuppressant-meds-research/issues/50)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #49
## References

- [GitHub issue: *High cost drug codes* guselkumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/49)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #48
## References

- [GitHub issue: *High cost drug codes* golimumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/48)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #47
## References

- [GitHub issue: *High cost drug codes* filgotinib](https://github.com/opensafely/immunosuppressant-meds-research/issues/47)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #46
## References

- [GitHub issue: *High cost drug codes* etanercept](https://github.com/opensafely/immunosuppressant-meds-research/issues/46)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #43
## References

- [GitHub issue: *High cost drug codes* brodalumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/43)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #44
## References

- [GitHub issue: *High cost drug codes* certolizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/44)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.

[2021-02-20 00:14] NikNakk commented on #42
## References

- [GitHub issue: *High cost drug codes* benralizumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/42)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.

[2021-02-20 00:14] NikNakk commented on #41
## References

- [GitHub issue: *High cost drug codes* belimumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/41)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #40
## References

- [GitHub issue: *High cost drug codes* baricitinib](https://github.com/opensafely/immunosuppressant-meds-research/issues/40)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #39
## References

- [GitHub issue: *High cost drug codes* anakinra](https://github.com/opensafely/immunosuppressant-meds-research/issues/39)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)
-

[2021-02-20 00:14] NikNakk commented on #37
## References

- [GitHub issue: *High cost drug codes* aflibercept](https://github.com/opensafely/immunosuppressant-meds-research/issues/37)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #38
## References

- [GitHub issue: *High cost drug codes* alemtuzumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/38)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R

[2021-02-20 00:14] NikNakk commented on #36
## References

- [GitHub issue: *High cost drug codes* adalimumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/36)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #35
## References

- [GitHub issue: *High cost drug codes* abatacept](https://github.com/opensafely/immunosuppressant-meds-research/issues/35)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:14] NikNakk commented on #19
## References

- [GitHub issue: *High cost drug codes* dupilumab](https://github.com/opensafely/immunosuppressant-meds-research/issues/19)
- [Original STATA dofile](https://github.com/opensafely/immunosuppressant-meds-research/issues/29)
- [R script used to produce codelist](https://github.com/opensafely/immunosuppressant-meds-research/tree/master/make_druglists/make_new_druglists_and_metadata.R)

[2021-02-20 00:18] NikNakk commented on #66
Reviewed on 19/02/2021 by @niknakk and Charlie Lees

[2021-02-20 00:18] NikNakk commented on #68
Reviewed on 19/02/2021 by @niknakk and Charlie Lees

[2021-02-20 00:18] NikNakk commented on #65
Reviewed on 19/02/2021 by @niknakk and Charlie Lees

[2021-02-20 00:18] NikNakk commented on #50
Reviewed on 19/02/2021 by @niknakk and Charlie Lees

[2021-02-20 00:18] NikNakk commented on #54
Reviewed on 19/02/2021 by @niknakk and Charlie Lees

[2021-02-20 00:18] NikNakk commented on #48
Reviewed on 19/02/2021 by @niknakk and Charlie Lees

[2021-02-20 00:18] NikNakk commented on #46
Reviewed on 19/02/2021 by @niknakk and Charlie Lees

[2021-02-20 00:18] NikNakk commented on #36
Reviewed on 19/02/2021 by @niknakk and Charlie Lees

[2021-02-20 00:18] NikNakk commented on #40
Reviewed on 19/02/2021 by @niknakk and Charlie Lees

[2021-02-22 16:49] AnnaB45 commented on #47
@NikNakk The link to the codelist in this issue isn't working, looks like the file doesn't exist in the crossimid-codelists area

[2021-02-22 16:52] AnnaB45 commented on #35
Added to [OpenSAFELY codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-abatacept/07fc04eb/)

[2021-02-22 16:54] AnnaB45 commented on #36
Added to [OpenSAFELY codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-adalimumab/6eec91b5/)

[2021-02-22 16:56] AnnaB45 commented on #37
Added to [OpenSAFELY codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-aflibercept/55dd1e80/).

[2021-02-22 16:57] AnnaB45 commented on #38
Added to [OpenSAFELY codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-alemtuzumab/3ccdab4b/).

[2021-02-22 17:09] AnnaB45 commented on #39
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-anakinra/23be3816/).

[2021-02-22 17:10] AnnaB45 commented on #40
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-baricitinib/0aaec4e1/).

[2021-02-22 17:11] AnnaB45 commented on #41
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-belimumab/719f51ab/).

[2021-02-22 17:12] AnnaB45 commented on #42
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-benralizumab/588fde76/).

[2021-02-22 17:13] AnnaB45 commented on #43
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-brodalumab/3f806b41/).

[2021-02-22 17:15] AnnaB45 commented on #44
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-certolizumab/2670f80c/).

[2021-02-22 17:16] AnnaB45 commented on #46
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-etanercept/0d6184d7/).

[2021-02-22 17:19] AnnaB45 commented on #48
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-golimumab/745211a1/).

[2021-02-22 17:21] AnnaB45 commented on #49
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-guselkumab/5b429e6c/).

[2021-02-22 17:28] AnnaB45 commented on #50
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-infliximab/42332b37/).

[2021-02-22 17:32] AnnaB45 commented on #51
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-ixekizumab/2923b802/).

[2021-02-22 17:35] AnnaB45 commented on #52
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-mepolizumab/101444cd/).

[2021-02-22 17:38] AnnaB45 commented on #53
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-methotrexate/7704d197/).

[2021-02-22 17:40] AnnaB45 commented on #54
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-natalizumab/5df55e62/).

[2021-02-22 17:43] AnnaB45 commented on #55
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-ocrelizumab/44e5eb2d/).

[2021-02-23 09:39] AnnaB45 commented on #56
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-omalizumab/2bd677f8/).

[2021-02-23 09:41] AnnaB45 commented on #57
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-ranibizumab/12c704c3/).

[2021-02-23 09:44] AnnaB45 commented on #58
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-reslizumab/79b7918d/).

[2021-02-23 09:47] AnnaB45 commented on #59
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-risankizumab/60a81e58/).

[2021-02-23 09:50] AnnaB45 commented on #60
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-rituximab/4798ab23/#full-list).

[2021-02-23 09:52] AnnaB45 commented on #61
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-sarilumab/2e8937ee/).

[2021-02-23 09:54] AnnaB45 commented on #62
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-secukinumab/1579c4b9/).

[2021-02-23 09:57] AnnaB45 commented on #63
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-tildrakizumab/7c6a5183/).

[2021-02-23 09:59] AnnaB45 commented on #64
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-tocilizumab/635ade4e/#full-list).

[2021-02-23 10:02] AnnaB45 commented on #65
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-tofacitinib/4a4b6b19/#full-list).

[2021-02-23 10:05] AnnaB45 commented on #66
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-upadacitinib/313bf7e4/).

[2021-02-23 10:07] AnnaB45 commented on #67
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-ustekinumab/182c84af/#full-list).

[2021-02-23 10:09] AnnaB45 commented on #68
Added to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-vedolizumab/7f1d1179/).

[2021-02-23 10:22] AnnaB45 commented on #47
Information from Charlie Lees on above comment "We discussed filgotinib on Friday. The drug licence date (EMA) was only September 2020 and therefore it was felt not necessary to include in codelist."

[2021-02-23 16:34] #47 closed, assigned to nobody

[2021-02-23 16:40] brianmackenna commented on #26
Q for the group - do we want to include all preparations of mesalazine here? It can be used in acute attacks and longer term to keep remission maintained.

The [BNF has a good list](https://bnf.nice.org.uk/drug/mesalazine.html) - basically do we just include orals or also things like enemas etc.

[2021-02-23 16:45] richiecroker commented on #26
also, do we just need to include mesalazine or related drugs as well, e.g. olsalazine?

[2021-02-23 18:47] NikNakk commented on #26
All oral mesalazine, olsalazine, balsalazide. Sulfasalazine should be in a separate code list. We can probably leave rectal mesalazine preparations out for now (or they would belong separately).

Best wishes,

Nick Kennedy
________________________________
From: Richard Croker <notifications@github.com>
Sent: Tuesday, February 23, 2021 4:45:30 PM
To: opensafely/immunosuppressant-meds-research <immu

[2021-02-26 16:28] NikNakk commented on #35
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 16:28] NikNakk commented on #36
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 16:29] NikNakk commented on #37
Not needed for this project

[2021-02-26 16:29] #37 closed, assigned to nobody

[2021-02-26 16:30] NikNakk commented on #38
Not needed for this project

[2021-02-26 16:30] #38 closed, assigned to nobody

[2021-02-26 16:30] NikNakk commented on #39
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway, though not needed for this project.

[2021-02-26 16:30] #39 closed, assigned to nobody

[2021-02-26 16:32] NikNakk commented on #41
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway; not needed for this project.

[2021-02-26 16:32] #41 closed, assigned to nobody

[2021-02-26 16:34] NikNakk commented on #42
Not needed for this project

[2021-02-26 16:34] #42 closed, assigned to nobody

[2021-02-26 16:35] NikNakk commented on #43
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 16:35] NikNakk commented on #44
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 16:38] NikNakk commented on #46
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

Note there are some entries for 'gain share'; these should still successfully identify people exposed to the drug, but may effectively be duplicate events.

[2021-02-26 16:38] NikNakk commented on #36
Note there are some entries for 'gain share'; these should still successfully identify people exposed to the drug, but may effectively be duplicate events.

[2021-02-26 16:39] NikNakk commented on #48
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 16:39] NikNakk commented on #49
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 16:40] NikNakk commented on #50
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 16:40] NikNakk commented on #50
Note there are some entries for 'gain share'; these should still successfully identify people exposed to the drug, but may effectively be duplicate events.

[2021-02-26 16:49] NikNakk commented on #55
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway; not needed for this project.

[2021-02-26 16:49] #55 closed, assigned to nobody

[2021-02-26 16:49] NikNakk commented on #54
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway; not needed for this project.

[2021-02-26 16:50] NikNakk commented on #57
Not needed for project

[2021-02-26 16:51] NikNakk commented on #59
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 16:51] #57 closed, assigned to nobody

[2021-02-26 16:52] NikNakk commented on #58
Not needed for this project.

[2021-02-26 17:02] #54 closed, assigned to nobody

[2021-02-26 17:02] #58 closed, assigned to nobody

[2021-02-26 17:03] NikNakk commented on #56
Not needed for this project.

[2021-02-26 17:05] #56 closed, assigned to nobody

[2021-02-26 17:05] NikNakk commented on #60
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 17:06] NikNakk commented on #61
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 17:06] NikNakk commented on #62
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 17:06] NikNakk commented on #63
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 17:06] NikNakk commented on #64
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 17:06] NikNakk commented on #65
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 17:06] NikNakk commented on #66
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 17:06] NikNakk commented on #67
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 17:07] NikNakk commented on #68
Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

[2021-02-26 21:47] NikNakk commented on #53
Amended to exclude `thecal|\biv\b|venous|cyto|aseptic`.

Reviewed by @AnnaB45, @sinlangan, @myatesrheum, @NikNakk, @jamesgalloway

@AnnaB45, please could you update the version on codelists.opensafely.org? I've put the new version back in the crossimid-codelists folder.

[2021-02-26 21:48] NikNakk commented on #60
Amended to exclude `r-chop`. @AnnaB45 please could you update version on codelists.opensafely.org

[2021-02-27 00:42] NikNakk opened #76 "High cost drugs need updating through rest of STATA do file"
@myatesrheum, I've got the STATA file working within the GitHub action. It's now failing because of the change in the high cost drug naming. I've updated the first bits (the redundant drops of columns we removed today and the recoding of missing), but there's still quite a bit to do further on. I don't have access to STATA other than by pushing to GitHub and watching the action, so would be gratef

[2021-02-27 10:43] myatesrheum commented on #76
Thanks @NikNakk, will do. Will wort drug name changes and output file paths, then I think it's there.

[2021-02-27 12:26] NikNakk commented on #76
For now, I’ve put in a change directory (cd) command to the output folder because I didn’t want to have to manually change lots of output commands further down, but you may wish to do something else like putting the output directory into a variable and using it each time.

Best wishes,

Nick Kennedy
________________________________
From: myatesrheum <notifications@github.com>
Sent: Saturday, Febru

[2021-03-02 10:09] AnnaB45 commented on #35
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:09] #35 closed, assigned to nobody

[2021-03-02 10:10] AnnaB45 commented on #36
Updated reviewers on OpenSAFELY Codelists and closed issue.

[2021-03-02 10:10] #36 closed, assigned to nobody

[2021-03-02 10:12] AnnaB45 commented on #40
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:12] #40 closed, assigned to nobody

[2021-03-02 10:15] AnnaB45 commented on #43
Updated reviewers on OpenSAFELY Codelists and closed issue.

[2021-03-02 10:15] #43 closed, assigned to nobody

[2021-03-02 10:16] AnnaB45 commented on #44
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:16] #44 closed, assigned to nobody

[2021-03-02 10:18] AnnaB45 commented on #46
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:18] #46 closed, assigned to nobody

[2021-03-02 10:19] AnnaB45 commented on #48
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:19] #48 closed, assigned to nobody

[2021-03-02 10:20] AnnaB45 commented on #49
Updated reviewers on OpenSAFELY Codelists and closed issue.

[2021-03-02 10:20] #49 closed, assigned to nobody

[2021-03-02 10:22] AnnaB45 commented on #50
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:22] #50 closed, assigned to nobody

[2021-03-02 10:24] AnnaB45 commented on #59
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:24] #59 closed, assigned to nobody

[2021-03-02 10:25] AnnaB45 commented on #61
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:25] #61 closed, assigned to nobody

[2021-03-02 10:26] AnnaB45 commented on #62
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:26] #62 closed, assigned to nobody

[2021-03-02 10:27] AnnaB45 commented on #63
Updated on OpenSAFELY Codelists and closed issue.

[2021-03-02 10:27] #63 closed, assigned to nobody

[2021-03-02 10:28] AnnaB45 commented on #64
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:28] #64 closed, assigned to nobody

[2021-03-02 10:29] AnnaB45 commented on #65
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 10:29] #65 closed, assigned to nobody

[2021-03-02 11:01] AnnaB45 commented on #66
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 11:01] #66 closed, assigned to nobody

[2021-03-02 11:02] AnnaB45 commented on #67
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 11:02] #67 closed, assigned to nobody

[2021-03-02 11:03] AnnaB45 commented on #68
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-02 11:03] #68 closed, assigned to nobody

[2021-03-02 11:10] AnnaB45 commented on #53
Uploaded latest version of the codelist and updated reviewers on OpenSAFELY codelists. Closed issue.

[2021-03-02 11:10] #53 closed, assigned to nobody

[2021-03-02 11:12] AnnaB45 commented on #60
Uploaded latest codelist and updated reviewers on OpenSAFELY codelists. Closed issue.

[2021-03-02 11:12] #60 closed, assigned to nobody

[2021-03-02 13:35] AnnaB45 commented on #19
@NikNakk Is this included in the immunosuppressants study definition? If yes, has the codelist been reviewed?

[2021-03-02 13:35] AnnaB45 commented on #51
@NikNakk Was this one of the codelists we reviewed on Friday?

[2021-03-02 13:36] AnnaB45 commented on #52
@NikNakk Was this one of the codelists we reviewed on Friday?

[2021-03-02 14:31] AnnaB45 opened #77 "*Medication codes* - Primary care Methotrexate oral"
Creating codelist for methotrexate prescribing in primary care.
Some previous discussion of this in [this issue](https://github.com/opensafely/codelist-development/issues/18).
Creating new issue to review primary care methotrexate prescribing only.
Key question from Brian MacKenna - Should we include all orals and injections prescribed in primary care in the same list?

[2021-03-02 23:30] NikNakk commented on #52
@AnnaB45 yes we did. Reviewed on 26th Feb by @myatesrheum, @AnnaB45, @NikNakk, @sinlangan and @jamesgalloway.

[2021-03-02 23:31] NikNakk commented on #51
Reviewed on 26th Feb by @myatesrheum, @AnnaB45, @NikNakk, @sinlangan and @jamesgalloway.

[2021-03-02 23:32] NikNakk commented on #19
@AnnaB45 No, not any more. We may need it in future, but we did not review it on Friday. @sinlangan and Catherine would be the best people to review.

[2021-03-03 09:23] brianmackenna commented on #19
This looks good to me @AnnaB45 .

[2021-03-03 09:53] brianmackenna commented on #77
Oral methotrexate for checking @richiecroker  / @AnnaB45  I have included all liquids for completeness although our work on methotrexate tells us that prescribing of liquid will be minimal.

https://codelists.opensafely.org/builder/3eb9b7b2/

[2021-03-03 09:54] brianmackenna opened #78 "*medication* primary care injectable methotrexate"
see #77 for intial discussion. this is new issue for discussion of any topics arising with injecatble methotrexate

[2021-03-03 10:19] AnnaB45 commented on #51
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-03 10:19] #51 closed, assigned to nobody

[2021-03-03 10:21] AnnaB45 commented on #52
Updated reviewers on OpenSAFELY codelists and closed issue.

[2021-03-03 10:21] #52 closed, assigned to nobody

[2021-03-03 15:35] richiecroker commented on #77
Checked - all seems fine to me.

[2021-03-04 07:39] brianmackenna commented on #78
@richiecroker @AnnaB45 for checking

https://codelists.opensafely.org/codelist/opensafely/merhotrexate-injectable/5a7beadd/

[2021-03-04 07:39] #76 closed, assigned to myatesrheum

[2021-03-04 07:39] #29 closed, assigned to nobody

[2021-03-04 07:48] brianmackenna opened #79 "**medication** sulfasalazine"
see #26

[2021-03-04 07:50] brianmackenna commented on #26
I have made a new codelist of "Newer aminosalicylates for IBD" which includes all oral forms of mesalazine, olsalazine, balsalazide. I have made a new issue for sulfasalazine #79

https://codelists.opensafely.org/codelist/opensafely/newer-aminosalicylates-for-ibd/416c77a8/

Need to confirm that

- exclude rectal preps
- the name is somewhat sensible for this group (I've taken from BNF)
- accuracy

[2021-03-04 07:52] brianmackenna commented on #79
@richiecroker @NikNakk  Oral sulfasalazine for double checking

https://codelists.opensafely.org/builder/285d0473/

[2021-03-04 07:54] brianmackenna commented on #14
Is this list still required? It has been surpassed I think by high cost drugs codelists?

Perhaps it is just single codelists for primary care dm+d list based on this? https://codelists.opensafely.org/codelist/opensafely/dmards/2020-06-23/

[2021-03-04 07:56] brianmackenna commented on #3
@myatesrheum  just to confirm this is the codelist that we should publish?

https://codelists.opensafely.org/codelist/user/mark-yates/axial-spondyloarthritis/3da730d4/#tree

[2021-03-04 08:01] brianmackenna commented on #4
I have had a quick look and the majority of exclusions from @sinlangan appear to be related to "contact dermatitis". @myatesrheum I can't edit your codelist directly but if you look for "parent" like in image below it will exclude large groups related to "contact dermatitis" without having to go through each code individually.

![image](https://user-images.githubusercontent.com/40460354/109930539-

[2021-03-04 08:21] NikNakk commented on #14
This issue was about the separated primary care drugs. The separate lists are still in the crossimid-codelists, but we’ve not moved them forwards to the codelists site because you’d suggested there was better way now of automatically deriving them.

Best wishes,

Nick Kennedy
________________________________
From: Brian <notifications@github.com>
Sent: Thursday, March 4, 2021 7:54:51 AM
To: opensa

[2021-03-04 08:33] brianmackenna opened #80 "*medication* azathioprine"
#14

[2021-03-04 08:33] brianmackenna opened #81 "mercaptopurine"
#14

[2021-03-04 08:34] brianmackenna opened #82 "hydroxychloroquine"
#14

[2021-03-04 08:34] brianmackenna opened #83 "ciclosporin"
#14

[2021-03-04 08:34] brianmackenna opened #84 "**medication** penicillamine"
#14

[2021-03-04 08:34] brianmackenna opened #85 "leflunomide"
#14

[2021-03-04 08:35] brianmackenna opened #86 "**medication** mycophenolate mofetil"

[2021-03-04 09:16] brianmackenna commented on #80
Azathioprine derived from DMARDs list

https://codelists.opensafely.org/builder/763e1e08/

[2021-03-04 09:17] brianmackenna commented on #81
Mercaptopurine
https://codelists.opensafely.org/builder/5d2eaad3/

derived from
https://codelists.opensafely.org/codelist/opensafely/dmards/2020-06-23/

[2021-03-04 09:20] brianmackenna commented on #84
Penicillamine https://codelists.opensafely.org/builder/441f379e/

derived from

https://codelists.opensafely.org/codelist/opensafely/dmards/2020-06-23/

[2021-03-04 09:22] brianmackenna commented on #85
for checking
https://codelists.opensafely.org/builder/2b0fc469/

derived from
https://codelists.opensafely.org/codelist/opensafely/dmards/2020-06-23/

[2021-03-04 09:32] brianmackenna commented on #86
draft at https://codelists.opensafely.org/builder/12005134/

I have only included MMF as this is what our original [DMARDs list](https://codelists.opensafely.org/codelist/opensafely/dmards/2020-06-23/) is based on. However there are [approximately 600-700 prescriptions for mycophenolic acid in primary care](https://openprescribing.net/chemical/0802010N0/) each month......

questions:

1. should we

[2021-03-04 09:37] richiecroker commented on #86
The costs for mycophenolate (and mycophenolic acid) are (I think) responsibility of NHSEI for [*transplant only*](https://www.england.nhs.uk/wp-content/uploads/2019/04/nhs-england-drugs-list-v14.1.pdf).  I'm not sure we've ever satisfactorily resolved the reimbursement/repatriation issues with it.

[2021-03-04 10:30] richiecroker commented on #80
https://codelists.opensafely.org/codelist/opensafely/azathioprine-dmd/78f0ddfe/

[2021-03-04 10:30] #80 closed, assigned to richiecroker

[2021-03-05 10:13] brianmackenna commented on #77
This is done -  @inglesp is just bug fixing this as I broke upload with duplicate codelist names.

[2021-03-05 10:29] catherinehsmith commented on #86
I would say include mycophenolic acid in this list (with MMF) - we would report them together

[2021-03-05 15:42] brianmackenna commented on #86
MMF is in tariff in SE London so we may not expect to see it in high cost drugs. There is likely to be variety of arrangements of supply. This has implications for not identifying some patients therapy. Discussed and likely to be small number and recognised limitation in discussion

[2021-03-05 15:43] brianmackenna commented on #85
checked during weekly call of our working group

[2021-03-05 15:46] brianmackenna commented on #84
checked with group

[2021-03-05 15:48] brianmackenna commented on #81
checked with working group on call

[2021-03-05 15:49] brianmackenna commented on #79
checked with working group on weekly call

[2021-03-05 15:54] brianmackenna commented on #26
confirmed three things above on weekly working group call

[2021-03-05 15:55] brianmackenna commented on #12
method as above to add also for #10 and #11

[2021-03-06 12:57] brianmackenna commented on #86
BNF codelist at https://codelists.opensafely.org/codelist/opensafely/mycophenolate-mofetil/4984b78a/ and dm+d version at https://codelists.opensafely.org/codelist/opensafely/mycophenolate/30754455/

Couple of tidying points
- @richiecroker can you confirm you are definitely happy with this final version of lists
- @inglesp could you please change the name of the BNF codelist to `mycophenolate` i.e

[2021-03-06 13:15] brianmackenna commented on #85
Not everyone who was on the call has an OpenCodelists account - if you are not credited please send me username and we can add
BNF version
https://codelists.opensafely.org/codelist/opensafely/leflunomide/2b0fc469/

dm+d version
https://codelists.opensafely.org/codelist/opensafely/leflunomide-dmd/1765d120/

[2021-03-06 13:15] #85 closed, assigned to richiecroker

[2021-03-06 13:21] brianmackenna commented on #84
dmd list at
https://codelists.opensafely.org/codelist/opensafely/penicillamine-dmd/7e565dea/

Not all people in group have opencodelists account - please send me to me and we can add forfuture credit.

[2021-03-06 13:21] #84 closed, assigned to nobody

[2021-03-06 13:26] brianmackenna commented on #81
dm+d version https://codelists.opensafely.org/codelist/opensafely/mercaptopurine-dmd/6546eab5/

[2021-03-06 13:26] #81 closed, assigned to richiecroker

[2021-03-06 13:38] brianmackenna commented on #26
dm+d list https://codelists.opensafely.org/codelist/opensafely/newer-aminosalicylates-for-ibd-dmd/4c377780/#full-list

[2021-03-06 13:38] #26 closed, assigned to richiecroker, AnnaB45, brianmackenna

[2021-03-06 13:44] brianmackenna commented on #78
@richiecroker or @AnnaB45 could you give this a quick look for accuracy please before I close?
https://codelists.opensafely.org/codelist/opensafely/methotrexate-injectable/3328044b/

[2021-03-06 13:51] brianmackenna commented on #79
https://codelists.opensafely.org/codelist/opensafely/sulfasalazine-oral-dmd/1a189116/

[2021-03-06 13:51] #79 closed, assigned to nobody

[2021-03-06 14:16] brianmackenna commented on #14
closing - individual issues have been opend.

[2021-03-06 14:16] #14 closed, assigned to NikNakk, brianmackenna

[2021-03-06 14:21] brianmackenna commented on #12
https://codelists.opensafely.org/codelist/opensafely/inflammatory-bowel-disease-unclassified/092ac6c0/

I can't see account for Charlie - to be added one account created

[2021-03-06 14:21] #12 closed, assigned to NikNakk, katetheyogi, myatesrheum

[2021-03-06 14:31] brianmackenna commented on #11
I have published the list https://codelists.opensafely.org/codelist/opensafely/ulcerative-colitis/3b49ad2a/#full-list

When publishing the list is a lot shorter than I would expect. Should we not be including codes like `XM1RP - history of ulcerative colitis` ?

Fuller list at https://codelists.opensafely.org/ctv3/?q=ulcerative+colitis&submit=Search (tool was not available when you actually built

[2021-03-06 14:46] brianmackenna commented on #7
Done https://codelists.opensafely.org/codelist/opensafely/psoriasis/01091de1/#tree @sinlangan you might find tree structure easy way of seeing what included/excluded

Need to add Catherine to authorship once account set up

[2021-03-06 14:46] #7 closed, assigned to brianmackenna, sinlangan

[2021-03-06 14:56] brianmackenna commented on #83
List here for someone to check https://codelists.opensafely.org/codelist/opensafely/ciclosporin-oral/4eea3776/

Also to confirm tha appropriate to exclude eye preparations?

[2021-03-06 15:01] brianmackenna commented on #82
https://codelists.opensafely.org/codelist/opensafely/hydroxychloroquine/2020-06-15/

[2021-03-06 15:01] #82 closed, assigned to nobody

[2021-03-07 08:32] catherinehsmith commented on #86
Hi Brian
Cathskin is my username
C

On 6 Mar 2021, at 12:57, Brian <notifications@github.com> wrote:

﻿

BNF codelist at https://codelists.opensafely.org/codelist/opensafely/mycophenolate-mofetil/4984b78a/<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fcodelists.opensafely.org%2Fcodelist%2Fopensafely%2Fmycophenolate-mofetil%2F4984b78a%2F&data=04%7C01%7Ccatherine.smith%40kcl.ac.u

[2021-03-10 12:02] richiecroker commented on #78
I am happy with this codelist.

[2021-03-10 13:17] #78 closed, assigned to nobody

[2021-03-12 12:58] brianmackenna commented on #77
thanks Peter!

https://codelists.opensafely.org/codelist/opensafely/methotrexate-oral/738b5e12/

[2021-03-12 12:58] #77 closed, assigned to AnnaB45, brianmackenna

[2021-03-31 19:01] sinlangan commented on #83
Confirmed; agree exclude eye preparations

[2021-03-31 19:02] sinlangan commented on #19
Agree, confirm this looks good.

[2021-04-01 07:16] brianmackenna commented on #83
dm+d list is available at https://codelists.opensafely.org/codelist/opensafely/ciclosporin-oral-dmd/4c961cc9/

[2021-04-01 07:16] #83 closed, assigned to nobody

[2021-04-01 07:44] richiecroker commented on #86
@brianmackenna taken a look at the codelist - seems ok, but is it usual for the AMP code names not to have the full names - they all appear to have just "Mycophenolate mofetil 250mg capsules"  which is `name` rather than e.g. "Mycophenolate mofetil 250mg capsules (A A H Pharmaceuticals Ltd)" which is `description`?

[2021-04-01 07:53] brianmackenna commented on #86
I think on OpenPrescribing we default to display the `description` in search results but on OpenCodelists we are using `name` - @inglesp is this right?

[2021-04-01 08:19] AnnaB45 commented on #19
Added the codelist to [OpenSAFELY Codelists](https://codelists.opensafely.org/codelist/opensafely/high-cost-drugs-dupilumab/3386a994/).
Closed issue.

[2021-04-01 08:19] #19 closed, assigned to brianmackenna

[2021-04-01 08:46] AnnaB45 commented on #3
@brianmackenna and @jamesgalloway , which codelist should be used for this disease?
There's [ankylosing spondylitis](https://codelists.opensafely.org/codelist/opensafely/ankylosing-spondylitis/701b538a/) and [axial spondyloarthritis](https://codelists.opensafely.org/codelist/user/mark-yates/axial-spondyloarthritis/3da730d4/#tree) on OpenSAFELY codelists.

[2021-04-01 08:46] inglesp commented on #86
Have renamed to [Mycophenolate (BNF)](https://codelists.opensafely.org/codelist/opensafely/mycophenolate-bnf/).

[2021-04-01 08:48] inglesp commented on #86
Yes, looks like it.

[2021-04-01 09:12] jamesgalloway commented on #3
Use Axial Spondyloarthritis - as this is the overarching category that includes Ankylosing Spondylitis - @AnnaB45

[2021-04-01 09:21] AnnaB45 commented on #11
@NikNakk and @brianmackenna - from the email chain it looks like history of codes shouldn't be included. If so, can this issue be closed now?

[2021-04-01 09:22] AnnaB45 commented on #10
@NikNakk - think this is just waiting for your review and then it can be closed.

[2021-04-01 09:23] AnnaB45 commented on #3
Thanks @jamesgalloway - can you confirm you're happy with the [Axial Spondyloarthritis](https://codelists.opensafely.org/codelist/user/mark-yates/axial-spondyloarthritis/3da730d4/#tree) codelist on OpenSAFELY codelists. Then we can close the issue.

[2021-04-01 09:37] jamesgalloway commented on #3
This codelist is reviewed and confirmed.

[2021-04-01 09:53] brianmackenna commented on #86
Thanks everyone - great work

https://codelists.opensafely.org/codelist/opensafely/mycophenolate/30754455/

[2021-04-01 09:53] #86 closed, assigned to NikNakk, richiecroker, brianmackenna, myatesrheum

[2021-04-01 10:31] #3 closed, assigned to nobody

[2021-04-01 11:40] NikNakk commented on #10
Happy to sign off. Methodology was documented in #12.

[2021-04-01 13:33] brianmackenna commented on #11
I think history of is fine but that was just an example. I can see two codes that potentially we may wish to include
- https://codelists.opensafely.org/ctv3/concept/N0454/
- https://codelists.opensafely.org/ctv3/concept/N0310/

Also wondering if other term searches may throw other things up?

[2021-04-01 13:44] brianmackenna commented on #11
(we should run the current study regardless of sorting this study)

[2022-05-16 14:47] #4 closed, assigned to sinlangan

[2022-05-16 14:47] #10 closed, assigned to NikNakk, myatesrheum

[2022-05-16 14:48] #11 closed, assigned to NikNakk, brianmackenna

[2022-05-16 14:48] #25 closed, assigned to richiecroker